.font-weight-bold{
    font-weight: bold !important; 
}

.full-width{
    width: 100% !important;
}

.floating-bottom-right{
    display: block !important;
    position: absolute !important;
    bottom: 0 !important;
    right: 0 !important;
}